h1{color: lightskyblue;}
body{font-family: 'Poppins', sans-serif;}

nav{background-color: #cce6ff}

table, th, td{
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 2px solid lightskyblue;
    }

td{ padding: 10px;}

/* nichtbesuchter link */
a:link {
    color: lightskyblue;}

/* besuchter link */
a:visited {
    color: grey;
  }

div {
    width: 75%;
    border: 2px grey; 
    border-style: solid;
    border-radius: 12px;
    padding: 10px;
}