
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cce6ff;
  }
  
 li.topnav {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  li a:hover {
    background-color:#ffffff;
    color: lightpink;
}

li a:active{ 
    background-color: plum;
    color: rgb(223, 209, 223)}


#active {
  font-weight: bold;
}
h1{color: #9fbfdf;
}
h2{
    text-align: center;
    padding: 30px;

}
h4{
   text-align: center;
    padding: 30px;
    
}
body, html{ 
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    text-align: justify}

body{font-family: 'Manrope', sans-serif;}

.titelbild{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(ocean.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 75%;
width: 100%;
margin: 0;
}

.titeltext{
    font-family: 'Manrope', Helvetica, sans-serif;
    font-size: 20px;
    text-align:  center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    border: none;
  }


table, th, td{
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    }

td, th{ padding: 10px;}

/* Maus über link */
a:hover{color: lightpink}

/* nichtbesuchter link */
a:link {
    color: lightskyblue;
}
/* besuchter link */
a:visited {
    color: grey;
  }
/* ausgewählter link */
a:active{ color: lightpink}
 
.gradientfacts{
  background-image:  linear-gradient(180deg, rgba(148,187,233,1) 7%, rgba(179,151,247,0.5872724089635855) 96%);
 
}
.Text{
    width: 75%;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    border: 4px solid lightskyblue;
    text-align: justify center left;
    overflow: hidden;


}
.list{
    width: 75%;
    padding: 30px;
    margin: auto;
    border: solid rgb(183, 221, 207);
    border-radius: 20px;
    text-align: justify center;
    background-color: rgb(220, 245, 236);
    z-index: -10;

}
footer{
    position: relative;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: lightgray;
    color: black;
    text-align: center;
    vertical-align: middle;
    z-index: 0;

}

.spots {

    width: 50%;
    margin-left: 20px;
    float: right;
}

#history {
  margin: auto;
  padding: 40px;
  text-align: justify center;
  overflow: hidden;
  border: none;
  width: 40%;
}

#dukehistory {
  float: right;
  width: 25%;
  margin: auto;
  padding: 40px;

}

.Tipps {
  position: relative;
  width: 100%;
}
 .innertext {
     z-index: 20;
 }

 @media screen and (max-width: 600px) {
 ul.topnav, li.topnav {
      float: none;
}}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

  }

  .column {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


  
  @media screen and (max-width: 600px) {
    .column {
      flex: 40%;
      max-width: 40%;
    }
  }
  
  @media (prefers-color-scheme: dark) {

  }
